---
import Layout from '../layouts/Layout.astro';
import PrincipalSection from '../components/PrincipalSection.astro'
---
<Layout title="Ben 10 API">
	<main id="main" style="display: none;">
		<PrincipalSection />
	</main>
</Layout>