---
import Layout from '../layouts/Layout.astro';
import PrincipalSection from '../components/PrincipalSection.astro'
---

<Layout title="Ben 10 API">
	<main>
		<PrincipalSection />
	</main>
</Layout>

<style>
</style>
