<header class="flex justify-between items-center w-full h-[100px] bg-green-800">
    <img src="/LogoNav.png" class="ml-10 size-24">
    <nav class="flex flex-row gap-x-10 opacity-80 mr-10">
        <a href="" class="text-lg transition hover:text-green-500">Inicio</a>
        <a href="" class="text-lg transition hover:text-green-500">Sobre Proyecto</a>
        <a href="" class="text-lg transition hover:text-green-500">Contacto</a>
    </nav>
</header>