<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top" class="text-lg transition-all  hover:text-blue-400">Inicio</a>
        <a href="#proyectos" class="text-lg transition hover:text-blue-400">Proyectos</a>
        <a href="#sobre-mi" class="text-lg transition hover:text-blue-400">Sobre mí</a>
    </nav>
</header>