<header class="flex flex-col sm:flex-row justify-center sm:justify-between items-center w-full h-full sm:h-[100px] bg-green-800">
    <img src="/LogoNav.png" class="sm:ml-10 size-20 sm:size-24">
    <nav class="flex flex-row gap-x-10 opacity-80 pb-5 sm:pb-0 sm:mr-10">
        <a href="" class="text-xl text-shadow-md font-semibold transition hover:text-green-500">Inicio</a>
        <a href="" class="text-xl text-shadow-md font-semibold transition hover:text-green-500">Sobre Proyecto</a>
        <a href="" class="text-xl text-shadow-md font-semibold transition hover:text-green-500">Contacto</a>
    </nav>
</header>