<div class="flex justify-center items-center h-[80vh]" id="loader" >
    <div class="loader border-2 rounded-full border-green-500 animate-spin aspect-square w-16 flex justify-center items-center"><img src="/pageIcon.png"></div>
  </div>