---
import Header from '../components/Header.astro';
import ScriptPrincipal from '../components/ScriptPrincipal.astro';
import LoaderScript from '../components/LoaderScript.astro';
import Loader from '../components/Loader.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/pageIcon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<Loader />
		<slot />
		<ScriptPrincipal />
		<LoaderScript />
	</body>
</html>
<style is:global>
	body {
		color: #eee;
		background-color: #111;
	}
</style>
